* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}

header {
    padding: 0 10%;
}

main {
    padding: 5% 10%;
}

footer {
    height: 4vh;
    background-color: #69dfc2;
    padding: 15px 10%;
}

section {
    border-top: 1px solid;
    margin-top: 20px;
}

.avatar {
    width: 300px;
    height: 193px;
    border-radius: 5px;
}

.github-icon {
    width: 40px;
}

a {
    font-weight: 800;
    color: #36967e;
}

pre {
    color:darkred
}

h2, h4 {
    padding: 10px 0 10px 0;
}

p {
    font-family: 'PT Sans', sans-serif;
    padding: 10px;
}

ul > li {
    margin-left: 40px;
}